<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safehostel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SafeHostel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- Leave Approval Activity -->
        <activity
            android:name="com.safehostel.LeaveApprovalActivity"
            android:exported="false" />

        <!-- Leave Request Activity -->
        <activity
            android:name="com.safehostel.LeaveRequestActivity"
            android:exported="false" />

        <!-- Login Activity (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Register" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Student Activity -->
        <activity
            android:name=".StudentActivity"
            android:exported="true" />

        <!-- Warden Activity -->
        <activity
            android:name=".WardenActivity"
            android:exported="true" />

        <!-- Apply Leave Activity -->
        <activity
            android:name=".ApplyLeaveActivity"
            android:exported="true" />

        <!-- Leave History Activity -->
        <activity
            android:name=".LeaveHistoryActivity"
            android:exported="true"
            android:label="Leave History Activity" />

    </application>

</manifest>
